<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OCR-web</title>
</head>
<body>
<h1>{{ message }}<h1>
    <h2>Introduction</h2>
    <p>This is a web application for OCR achieve by <b>Yubo (Bob) WANG's Application Interests</b>. </p>
    <img src="/static/images/Bigtail.jpg", height="150", width="150"/>
    <br/>
    <h2>Usage</h2>
    <p>Tesseract of Google is adopted for this OCR application</p>
    <img src="/static/images/Tesseract_logo_001.png", height="150", width="300"/>
    <br/>
    <br/>
    <h3>Upload image file, then get return text online</h3>
    <p>Click <a href="/upload">here</a> to upload your file!</p>
    <p>After uploading the image, then you will obtain the returned OCR text</p>
</body>
</html>